@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');


.tpage .jumbotron .container h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    font-weight: bolder;
}

.tpage .container-tpage{
    width: 65%;
}

.tpage .tpage-active-sum{
    justify-content: center;
}

.tpage .tpage-btns-row{
    justify-content: space-evenly;
}